* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  margin-top: 1em;
}

header {
  background-color: #107c28;
  margin-bottom: 16px;
  display: block;
  padding: 3px 0;
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

main {
  /* border: 2px solid red; */
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  max-width: 900px;
  background-color: white;
  /* justify-content: space-between; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* this is the default */
}

/* we can use the wildcard / generic selector * to rarget all child elemnts inside the main flex object */
/* this only works if you apply the same flex basis to those elements */

/* main > * {
  flex-basis: 250px;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 10px;
} */

/* otherwise we need a seperate rule for figure and info */

.info {
  flex: 1 0 300px;
}

figure {
  /* flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 0; */
  /*flex is a way give all of this values together - a shortcut */
  flex: 1 0 200px;
  margin: 0 0.5em;
}

img {
  width: 100%;
}

footer {
  text-align: center;
  margin: 20px 0;
}

/* when we view on a mobile phone we want to remove some of the space around the objects to make better use of the smaller screen space */

@media only screen and (max-width: 550px) {
  main {
    width: 100%;
  }

  /* figure {
    margin: 0 auto;
  } */

  body {
    background-color: white;
  }
}
